<aside th:fragment="aside" id="sidebar" class="sidebar c-overflow">
    <ul class="main-menu">
        <li class="active">
            <a href="#"><i class="zmdi zmdi-home"></i>控制台</a>
        </li>
        <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-view-compact"></i>用户管理</a>
            <ul>
                <li><a href="/admin/user/list">用户列表</a></li>
                <li><a href="/admin/user/list2">用户列表2</a></li>
            </ul>
        </li>
    </ul>
</aside>
